/* Color Palette */
:root {
    --bg-color: hsl(49 37% 94%);
    --typewriterspeed: 6s;
    --typewritercharacters: 16;
}

html, body, section {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: var(--bg-color);
    font-family: sans-serif;
}

/* CSS for the header portion */
.header-container {
    width: 90%;
    margin: 0 auto;
}

header {
    background: #FFFF;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.company-logo {
    float: left;
}

.nav-links {
    float: right;
}

.navbar{
    float: right;
}

.navbar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}

.navbar ul li a{
    color: black;
    text-decoration: none;
    font-weight: 100;
}

.main-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-links li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 10px;
}

.main-links a {
    color: black;
    text-decoration: none;
    font-weight: 100;
}

/* CSS for the main area */
.list-title {
    font-size: clamp(1rem, 3vw + 1rem, 4rem);
    position: relative;
    font-family: monospace;
    width: max-content;
}

.list-title::before, .list-title::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.list-title::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterspeed)
        steps(var(--typewritercharacters)) 1s forwards;
}

.list-title::after {
    width: 0.125em;
    background: black;
    animation: typewriter var(--typewriterspeed)
            steps(var(--typewritercharacters)) 1s forwards,
        blink 750ms steps(var(--typewritercharacters)) infinite; 
}

@keyframes typewriter {
    to {
        left: 100%;
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}


/* Contact us page */
.main-screen {
    display: flex;
    justify-content: space-around;
}

.main-contact, .photo-staff {
    padding-top: 100px;
}

.staff-photo {
    aspect-ratio: 1.49;
    max-width: 600px;
    border-radius: 10%;
}

.operation-title {
    padding-left: 0px;
}

table {
    border-spacing: 0px;
    
}

th {
    border: solid black;
    padding: 10px;
}

.hours {
    list-style: none;
    border: solid black;
    padding-left: 15px;
}

.hours li {
    padding-top: 10px;
    padding-bottom: 5px;
}

footer {
    position: absolute;
    width: 100%;
    justify-content: center;
    text-align: center;
    bottom: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* CSS for Add Grocery Page */
.item-input {
    padding-left: 20px;
    width: max-content;
}

.submit-button {
    text-align: end;
}

@media (max-width: 927px) {
    .side-nav {
        flex-grow: 0.2;
    }
    .side-nav-header {
        font-size: 20px;
    }

    #second-header h2 {
        font-size: 15px;
    }

    #next-button {
        display: flex;
        justify-content: center;
    }

    #created-list {
        padding-left: 0px;
    }

    #display-cost {
        position: absolute;
        bottom: 50px;
    }
}


/* CSS for mobile devices */
@media (max-width: 766px) {
    /* contact us page */
    .main-screen {
        display: flex;
        flex-direction: column;
    }
    
    .main-contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .operation-hours {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hours {
        list-style: none;
    }

    .hours li {
        padding: 10px;
    }

    .photo-staff {
        padding-top: 40px;
        text-align: center;
    }

    .staff-photo {
        text-align: center;
        width: 80%;
        border-radius: 10%;
    }
}