<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static_files/style.css">
    <script defer src="/static_files/script.js"></script>
    <title>Contact</title>
</head>
<body>
    <header>
        <div class="header-container">
            <img src="/static_files/img/tinyslice_logo.jpg" alt="company logo" class="company-logo" width="100" height="40">
            {{ nav.my_navbar.render() }}
        </div>
    </header>
<body class="contact-body">
    <div class="main-contact">
       <h1 class="contact-h1">Contact us</h1>
       <div class="contact-info">
           <p>Email: tinyslice@gmail.com</p>
           <p>Phone number: 111-222-3333</p>
       </div> 
    </div>
    <div class="operation-hours">
        <h2>Hours of Operation</h2>
        <ul class="hours">
            <li>Mon-Fri: 10am - 6pm</li>
            <li>Sat: 10am - 3pm</li>
            <li>Sun: Closed</li>
        </ul>
    </div>
    <footer>
        tinyslice
    </footer>

</body>
</html>