<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static_files/style.css">
    <script defer src="/static_files/script.js"></script>
    <title>Contact</title>
</head>

<body>
    <header>
        <div class="header-container">
            <!-- <img src="/static_files/img/tinyslice_logo.jpg" alt="company logo" class="company-logo" width="100"
                height="40"> -->
            {{ nav.my_navbar.render() }}
        </div>
    </header>

    <div class="main-screen">
        <div class="contact-information">
            <div class="main-contact">
                <h1 class="contact-home">Contact us</h1>
                <div class="contact-info">
                    <p>Email: tinyslice@gmail.com</p>
                    <p>Phone number: 111-222-3333</p>
                </div>
            </div>
            <div class="operation-hours">
                <h2 class="operation-title">Hours of Operation</h2>
                <table class="hours-operation">
                    <tr>
                        <th>Days</th>
                        <th>Hours</th>
                    </tr>
                    <tr>
                        <th>Mon - Fri</th>
                        <th>10am - 6pm</th>
                    </tr>
                    <tr>
                        <th>Sat</th>
                        <th>10am - 3pm</th>
                    </tr>
                    <tr>
                        <th>Sun</th>
                        <th>Closed</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="photo-staff">
            <img src="/static_files/img/staff_photo.jpg" alt="staff photo" class="staff-photo">
        </div>

    </div>
    <footer>
        tinyslice
    </footer>
</body>

</html>