<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static_files/style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="header-container">
            <!-- <img src="/static_files/img/tinyslice_logo.jpg" alt="company logo" class="company-logo" width="90"
                height="36"> -->
            {{ nav.my_navbar.render() }}
        </div>
    </header>
    <h1 class="welcome">Welcome!!</h1>
    <br>
    <br>
    <div class="paper-container">
        <div class="paper">
            <p class="list-title">Walmart Shopping</p>
            <ul>
                <li class="item-one">Apple</li>
                <li class="item-two">Broccoli</li>
                <li class="item-three">Pickles</li>
                <li class="item-four">Watermelon</li>
            </ul>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p class="total-cost">Total Cost: 0?</p>
        </div>
    </div>

</body>
</html>