<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static_files/style.css">
    <script defer src="/static_files/script.js"></script>
    <title>Overview</title>
</head>

<body>
    <header>
        <div class="header-container">
            <img src="/static_files/img/tinyslice_logo.jpg" alt="company logo" class="company-logo" width="100"
                height="40">
            {{ nav.my_navbar.render() }}
        </div>
    </header>

    <h1>Overview</h1>

    <p>Total Cost: ${{ total_cost }}</p>
    <p>Total Number of Grocery Items: {{ total_items }}</p>
    <p>Number of Grocery Lists: {{ num_of_lists }}</p>
    <p>Item Costs Mean: {{ mean }}</p>
    <p>Item Costs Standard Deviation: {{ sd }}</p>

    <ul>
        <li>List Names and Budgets:</li>
        <ul>
            {% for data in budget_and_list_name %}
            <li>{{ data[0] }}: {{ data[1] }}</li>
            {% endfor %}
        </ul>
    </ul>

</body>
</html>